---
layout: community
style: community
title: Community driven open source middleware
---

%h3 Get Involved
.proj_important
  %p Using JBoss Community projects is a great way to build real-world enterprise applications based on the latest technologies. But what if you find something that needs fixing or have a new feature to suggest? By getting involved with the project communities you can give feedback, improve the docs,  review code and submit patches/new features whenever  they're needed. Answering user questions or taking part in development discussions is also a great way to build a reputation for collaboration and expertise in your field.
  %p No matter what your skill level, contributing to projects can be very rewarding and a great learning experience. You'll meet lots of smart, passionate developers who are all driven to create the best middleware possible in open source! You don't have to be an expert to get involved and it doesn't have to  take a lot of time. Here are some different ways you can help to make  things better.
.twocolumns
  .twocol_left{:style => "text-align:left;margin-right:12px;"}
    %h3 Write a Blog
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_blog.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            We're always interested in hearing how you're using JBoss Community projects to build your applications. You can
            %a{:href => "https://community.jboss.org/blogs"} create a personal blog
            anytime or you
            %a{:href => "http://planet.jboss.org"} aggregate
            an existing one into our
            = succeed "." do
              %a{:href => "http://planet.jboss.org/"} Planet
    %h3 Test Upcoming Releases
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_testreleases.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            Finding bugs prior to a final release is the best way to ensure the next version of a project does what you need. Try out the latest alpha, beta or candidate releases and
            %a{:href => "http://www.jboss.org/help/testingreleases"} let us know
            if you find anything that needs fixing using our
            = succeed "." do
              %a{:href => "http://issues.jboss.org"} Issue Tracker
    %h3 Create Documentation
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_createdoc.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            There's nothing better than well written, up-to date documentation that makes you productive in no time. If you see something missing or just want to correct a mistake use our
            %a{:href => "http://docs.jboss.org/author"} project documentation editor
            to make changes instantly. You can also add articles to the
            %a{:href => "https://community.jboss.org/wiki"} wiki
            to highlight tips and tricks.
    %h3 Help Users
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_helpusers.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            Providing support to users is a great way to collaborate and give back to the community. Lots of questions are asked and answered each day in the
            %a{:href => "http://community.jboss.org"} forums
            or on
            %a{:href => "http://stackoverflow.com/"} StackOverflow
            using tags such as
            %a{:href => "http://stackoverflow.com/questions/tagged/jboss"} jboss
            and
            = succeed "." do
              %a{:href => "http://stackoverflow.com/questions/tagged/hibernate"} hibernate
    %h3 Submit Patches/New Features
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_submitpatch.png", :style => "margin:0 auto;", :width => "33"}/
        %td
          %p
            These days many projects have moved from our
            %a{:href => "http://anonsvn.jboss.org"} Subversion
            repos to
            %a{:href => "http://github.com"} GitHub
            providing additional functionality to
            %a{:href => "http://help.github.com/fork-a-repo/"} fork the code
            and submit changes via
            = succeed "." do
              %a{:href => "http://help.github.com/send-pull-requests/"} pull requests
            Whichever method you use take a look in our
            %a{:href => "http://issues.jboss.org"} Issue Tracker
            to see if anything interests you, or pick an issue you've created, and see if you can
            %a{:href => "http://www.jboss.org/help/submittingpatches"} submit a patch
            or
            %a{:href => "http://www.jboss.org/help/contributingcode"} new feature
            implementation. If this is your first time you'll need to sign a
            %a{:href => "http://cla.jboss.org"} Contributor License Agreement
            but it only takes a couple of minutes.
  .twocol_right{:style => "text-align:left;"}
    %h3 Report Issues
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_reportissues.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            User feedback is a critical part of the open source development process. If you find a bug or have suggestions for an enhancement or new feature go ahead and
            %a{:href => "http://www.jboss.org/help/reportingissues"} report it
            in our
            = succeed "." do
              %a{:href => "http://issues.jboss.org"} Issue Tracker
    %h3 Review Code
    %table
      %tr
        %td
          %img{:alt => "", :height => "32", :src => "/dms/content/common/icons/contribute/getinvolved_icons_reviewcode.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            It's easy to get lost in the detail so sometimes a step back is required to see the full picture. Performing a
            %a{:href => "https://source.jboss.org/cru"} code review
            helps reveal general areas for improvement whether it be programming style or adding comments to describe what's going on.
    %h3 Translate Documentation
    %table
      %tr
        %td
          %img{:alt => "", :height => "31", :src => "/dms/content/common/icons/contribute/getinvolved_icons_translate.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            If English isn't your natural language you may want to read documentation in your own language. To cover as many languages as possible we encourage people to contribute
            %a{:href => "http://translate.jboss.org"} translations
            whenever they can.
    %h3 Discuss Future Development
    %table
      %tr
        %td
          %img{:alt => "", :height => "33", :src => "/dms/content/common/icons/contribute/getinvolved_icons_futuredev.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            If you're involved in a particular project and want to have a say in its future development you can talk with the project team on
            %a{:href => "irc://irc.freenode.net"} IRC
            or via the
            = succeed "/" do
              %a{:href => "http://community.jboss.org"} dev forums
            %a{:href => "http://lists.jboss.org"} mailing lists
            to have your voice heard.
    %h3 Join a User Group
    %table
      %tr
        %td
          %img{:alt => "", :height => "33", :src => "/dms/content/common/icons/contribute/getinvolved_icons_joingrp.png", :style => "margin:0 auto;", :width => "32"}/
        %td
          %p
            Meeting people in your local area with similar interests in JBoss Community projects can be a great way to share tips and tricks and make new friends. Take a look at the growing number of
            %a{:href => "http://www.jboss.org/usergroups"} User Groups
            to see if there's one near you. If you don't find one you can always
            = succeed "!" do
              %a{:href => "http://www.jboss.org/help/jbugguide"} create one
  .clear
